# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
Ex_Files_Test_Driven_Development_Django.zip
geckodriver-v0.33.0-linux64.tar.gz
exercise-files/01_02_end/func_tests.py
exercise-files/01_03_begin/func_tests.py
exercise-files/01_03_end/func_tests.py
exercise-files/01_03_end/hashthat/manage.py
exercise-files/01_03_end/hashthat/hashthat/__init__.py
exercise-files/01_03_end/hashthat/hashthat/settings.py
exercise-files/01_03_end/hashthat/hashthat/urls.py
exercise-files/01_03_end/hashthat/hashthat/wsgi.py
exercise-files/01_04_begin/func_tests.py
exercise-files/01_04_begin/hashthat/manage.py
exercise-files/01_04_begin/hashthat/hashthat/__init__.py
exercise-files/01_04_begin/hashthat/hashthat/settings.py
exercise-files/01_04_begin/hashthat/hashthat/urls.py
exercise-files/01_04_begin/hashthat/hashthat/wsgi.py
exercise-files/01_04_end/func_tests.py
exercise-files/01_04_end/hashthat/manage.py
exercise-files/01_04_end/hashthat/hashing/__init__.py
exercise-files/01_04_end/hashthat/hashing/admin.py
exercise-files/01_04_end/hashthat/hashing/apps.py
exercise-files/01_04_end/hashthat/hashing/models.py
exercise-files/01_04_end/hashthat/hashing/tests.py
exercise-files/01_04_end/hashthat/hashing/views.py
exercise-files/01_04_end/hashthat/hashing/migrations/__init__.py
exercise-files/01_04_end/hashthat/hashthat/__init__.py
exercise-files/01_04_end/hashthat/hashthat/settings.py
exercise-files/01_04_end/hashthat/hashthat/urls.py
exercise-files/01_04_end/hashthat/hashthat/wsgi.py
exercise-files/01_05_begin/func_tests.py
exercise-files/01_05_begin/hashthat/manage.py
exercise-files/01_05_begin/hashthat/hashing/__init__.py
exercise-files/01_05_begin/hashthat/hashing/admin.py
exercise-files/01_05_begin/hashthat/hashing/apps.py
exercise-files/01_05_begin/hashthat/hashing/models.py
exercise-files/01_05_begin/hashthat/hashing/tests.py
exercise-files/01_05_begin/hashthat/hashing/views.py
exercise-files/01_05_begin/hashthat/hashing/migrations/__init__.py
exercise-files/01_05_begin/hashthat/hashthat/__init__.py
exercise-files/01_05_begin/hashthat/hashthat/settings.py
exercise-files/01_05_begin/hashthat/hashthat/urls.py
exercise-files/01_05_begin/hashthat/hashthat/wsgi.py
exercise-files/01_05_end/func_tests.py
exercise-files/01_05_end/hashthat/manage.py
exercise-files/01_05_end/hashthat/hashing/__init__.py
exercise-files/01_05_end/hashthat/hashing/admin.py
exercise-files/01_05_end/hashthat/hashing/apps.py
exercise-files/01_05_end/hashthat/hashing/models.py
exercise-files/01_05_end/hashthat/hashing/tests.py
exercise-files/01_05_end/hashthat/hashing/views.py
exercise-files/01_05_end/hashthat/hashing/migrations/__init__.py
exercise-files/01_05_end/hashthat/hashthat/__init__.py
exercise-files/01_05_end/hashthat/hashthat/settings.py
exercise-files/01_05_end/hashthat/hashthat/urls.py
exercise-files/01_05_end/hashthat/hashthat/wsgi.py
exercise-files/02_01_begin/func_tests.py
exercise-files/02_01_begin/hashthat/manage.py
exercise-files/02_01_begin/hashthat/hashing/__init__.py
exercise-files/02_01_begin/hashthat/hashing/admin.py
exercise-files/02_01_begin/hashthat/hashing/apps.py
exercise-files/02_01_begin/hashthat/hashing/models.py
exercise-files/02_01_begin/hashthat/hashing/tests.py
exercise-files/02_01_begin/hashthat/hashing/views.py
exercise-files/02_01_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_01_begin/hashthat/hashthat/__init__.py
exercise-files/02_01_begin/hashthat/hashthat/settings.py
exercise-files/02_01_begin/hashthat/hashthat/urls.py
exercise-files/02_01_begin/hashthat/hashthat/wsgi.py
exercise-files/02_01_end/func_tests.py
exercise-files/02_01_end/hashthat/manage.py
exercise-files/02_01_end/hashthat/hashing/__init__.py
exercise-files/02_01_end/hashthat/hashing/admin.py
exercise-files/02_01_end/hashthat/hashing/apps.py
exercise-files/02_01_end/hashthat/hashing/models.py
exercise-files/02_01_end/hashthat/hashing/tests.py
exercise-files/02_01_end/hashthat/hashing/views.py
exercise-files/02_01_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_01_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_01_end/hashthat/hashthat/__init__.py
exercise-files/02_01_end/hashthat/hashthat/settings.py
exercise-files/02_01_end/hashthat/hashthat/urls.py
exercise-files/02_01_end/hashthat/hashthat/wsgi.py
exercise-files/02_02_begin/func_tests.py
exercise-files/02_02_begin/hashthat/manage.py
exercise-files/02_02_begin/hashthat/hashing/__init__.py
exercise-files/02_02_begin/hashthat/hashing/admin.py
exercise-files/02_02_begin/hashthat/hashing/apps.py
exercise-files/02_02_begin/hashthat/hashing/models.py
exercise-files/02_02_begin/hashthat/hashing/tests.py
exercise-files/02_02_begin/hashthat/hashing/views.py
exercise-files/02_02_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_02_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_02_begin/hashthat/hashthat/__init__.py
exercise-files/02_02_begin/hashthat/hashthat/settings.py
exercise-files/02_02_begin/hashthat/hashthat/urls.py
exercise-files/02_02_begin/hashthat/hashthat/wsgi.py
exercise-files/02_02_end/func_tests.py
exercise-files/02_02_end/hashthat/manage.py
exercise-files/02_02_end/hashthat/hashing/__init__.py
exercise-files/02_02_end/hashthat/hashing/admin.py
exercise-files/02_02_end/hashthat/hashing/apps.py
exercise-files/02_02_end/hashthat/hashing/forms.py
exercise-files/02_02_end/hashthat/hashing/models.py
exercise-files/02_02_end/hashthat/hashing/tests.py
exercise-files/02_02_end/hashthat/hashing/views.py
exercise-files/02_02_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_02_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_02_end/hashthat/hashthat/__init__.py
exercise-files/02_02_end/hashthat/hashthat/settings.py
exercise-files/02_02_end/hashthat/hashthat/urls.py
exercise-files/02_02_end/hashthat/hashthat/wsgi.py
exercise-files/02_03_begin/func_tests.py
exercise-files/02_03_begin/hashthat/manage.py
exercise-files/02_03_begin/hashthat/hashing/__init__.py
exercise-files/02_03_begin/hashthat/hashing/admin.py
exercise-files/02_03_begin/hashthat/hashing/apps.py
exercise-files/02_03_begin/hashthat/hashing/forms.py
exercise-files/02_03_begin/hashthat/hashing/models.py
exercise-files/02_03_begin/hashthat/hashing/tests.py
exercise-files/02_03_begin/hashthat/hashing/views.py
exercise-files/02_03_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_03_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_03_begin/hashthat/hashthat/__init__.py
exercise-files/02_03_begin/hashthat/hashthat/settings.py
exercise-files/02_03_begin/hashthat/hashthat/urls.py
exercise-files/02_03_begin/hashthat/hashthat/wsgi.py
exercise-files/02_03_end/func_tests.py
exercise-files/02_03_end/hashthat/manage.py
exercise-files/02_03_end/hashthat/hashing/__init__.py
exercise-files/02_03_end/hashthat/hashing/admin.py
exercise-files/02_03_end/hashthat/hashing/apps.py
exercise-files/02_03_end/hashthat/hashing/forms.py
exercise-files/02_03_end/hashthat/hashing/models.py
exercise-files/02_03_end/hashthat/hashing/tests.py
exercise-files/02_03_end/hashthat/hashing/views.py
exercise-files/02_03_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_03_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_03_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_03_end/hashthat/hashthat/__init__.py
exercise-files/02_03_end/hashthat/hashthat/settings.py
exercise-files/02_03_end/hashthat/hashthat/urls.py
exercise-files/02_03_end/hashthat/hashthat/wsgi.py
exercise-files/02_04_begin/func_tests.py
exercise-files/02_04_begin/hashthat/manage.py
exercise-files/02_04_begin/hashthat/hashing/__init__.py
exercise-files/02_04_begin/hashthat/hashing/admin.py
exercise-files/02_04_begin/hashthat/hashing/apps.py
exercise-files/02_04_begin/hashthat/hashing/forms.py
exercise-files/02_04_begin/hashthat/hashing/models.py
exercise-files/02_04_begin/hashthat/hashing/tests.py
exercise-files/02_04_begin/hashthat/hashing/views.py
exercise-files/02_04_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_04_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_04_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_04_begin/hashthat/hashthat/__init__.py
exercise-files/02_04_begin/hashthat/hashthat/settings.py
exercise-files/02_04_begin/hashthat/hashthat/urls.py
exercise-files/02_04_begin/hashthat/hashthat/wsgi.py
exercise-files/02_04_end/func_tests.py
exercise-files/02_04_end/hashthat/manage.py
exercise-files/02_04_end/hashthat/hashing/__init__.py
exercise-files/02_04_end/hashthat/hashing/admin.py
exercise-files/02_04_end/hashthat/hashing/apps.py
exercise-files/02_04_end/hashthat/hashing/forms.py
exercise-files/02_04_end/hashthat/hashing/models.py
exercise-files/02_04_end/hashthat/hashing/tests.py
exercise-files/02_04_end/hashthat/hashing/views.py
exercise-files/02_04_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_04_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_04_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_04_end/hashthat/hashthat/__init__.py
exercise-files/02_04_end/hashthat/hashthat/settings.py
exercise-files/02_04_end/hashthat/hashthat/urls.py
exercise-files/02_04_end/hashthat/hashthat/wsgi.py
exercise-files/02_05_begin/func_tests.py
exercise-files/02_05_begin/hashthat/manage.py
exercise-files/02_05_begin/hashthat/hashing/__init__.py
exercise-files/02_05_begin/hashthat/hashing/admin.py
exercise-files/02_05_begin/hashthat/hashing/apps.py
exercise-files/02_05_begin/hashthat/hashing/forms.py
exercise-files/02_05_begin/hashthat/hashing/models.py
exercise-files/02_05_begin/hashthat/hashing/tests.py
exercise-files/02_05_begin/hashthat/hashing/views.py
exercise-files/02_05_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_05_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_05_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_05_begin/hashthat/hashthat/__init__.py
exercise-files/02_05_begin/hashthat/hashthat/settings.py
exercise-files/02_05_begin/hashthat/hashthat/urls.py
exercise-files/02_05_begin/hashthat/hashthat/wsgi.py
exercise-files/02_05_end/func_tests.py
exercise-files/02_05_end/hashthat/manage.py
exercise-files/02_05_end/hashthat/hashing/__init__.py
exercise-files/02_05_end/hashthat/hashing/admin.py
exercise-files/02_05_end/hashthat/hashing/apps.py
exercise-files/02_05_end/hashthat/hashing/forms.py
exercise-files/02_05_end/hashthat/hashing/models.py
exercise-files/02_05_end/hashthat/hashing/tests.py
exercise-files/02_05_end/hashthat/hashing/views.py
exercise-files/02_05_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_05_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_05_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_05_end/hashthat/hashthat/__init__.py
exercise-files/02_05_end/hashthat/hashthat/settings.py
exercise-files/02_05_end/hashthat/hashthat/urls.py
exercise-files/02_05_end/hashthat/hashthat/wsgi.py
exercise-files/02_06_begin/02_05_end copy.textClipping
exercise-files/02_06_begin/func_tests.py
exercise-files/02_06_begin/hashthat/manage.py
exercise-files/02_06_begin/hashthat/hashing/__init__.py
exercise-files/02_06_begin/hashthat/hashing/admin.py
exercise-files/02_06_begin/hashthat/hashing/apps.py
exercise-files/02_06_begin/hashthat/hashing/forms.py
exercise-files/02_06_begin/hashthat/hashing/models.py
exercise-files/02_06_begin/hashthat/hashing/tests.py
exercise-files/02_06_begin/hashthat/hashing/views.py
exercise-files/02_06_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_06_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_06_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_06_begin/hashthat/hashthat/__init__.py
exercise-files/02_06_begin/hashthat/hashthat/settings.py
exercise-files/02_06_begin/hashthat/hashthat/urls.py
exercise-files/02_06_begin/hashthat/hashthat/wsgi.py
exercise-files/02_06_end/02_05_end copy.textClipping
exercise-files/02_06_end/func_tests.py
exercise-files/02_06_end/hashthat/manage.py
exercise-files/02_06_end/hashthat/hashing/__init__.py
exercise-files/02_06_end/hashthat/hashing/admin.py
exercise-files/02_06_end/hashthat/hashing/apps.py
exercise-files/02_06_end/hashthat/hashing/forms.py
exercise-files/02_06_end/hashthat/hashing/models.py
exercise-files/02_06_end/hashthat/hashing/tests.py
exercise-files/02_06_end/hashthat/hashing/views.py
exercise-files/02_06_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_06_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_06_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_06_end/hashthat/hashthat/__init__.py
exercise-files/02_06_end/hashthat/hashthat/settings.py
exercise-files/02_06_end/hashthat/hashthat/urls.py
exercise-files/02_06_end/hashthat/hashthat/wsgi.py
exercise-files/02_07_begin/func_tests.py
exercise-files/02_07_begin/hashthat/manage.py
exercise-files/02_07_begin/hashthat/hashing/__init__.py
exercise-files/02_07_begin/hashthat/hashing/admin.py
exercise-files/02_07_begin/hashthat/hashing/apps.py
exercise-files/02_07_begin/hashthat/hashing/forms.py
exercise-files/02_07_begin/hashthat/hashing/models.py
exercise-files/02_07_begin/hashthat/hashing/tests.py
exercise-files/02_07_begin/hashthat/hashing/views.py
exercise-files/02_07_begin/hashthat/hashing/migrations/__init__.py
exercise-files/02_07_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_07_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/02_07_begin/hashthat/hashthat/__init__.py
exercise-files/02_07_begin/hashthat/hashthat/settings.py
exercise-files/02_07_begin/hashthat/hashthat/urls.py
exercise-files/02_07_begin/hashthat/hashthat/wsgi.py
exercise-files/02_07_end/func_tests.py
exercise-files/02_07_end/hashthat/manage.py
exercise-files/02_07_end/hashthat/hashing/__init__.py
exercise-files/02_07_end/hashthat/hashing/admin.py
exercise-files/02_07_end/hashthat/hashing/apps.py
exercise-files/02_07_end/hashthat/hashing/forms.py
exercise-files/02_07_end/hashthat/hashing/models.py
exercise-files/02_07_end/hashthat/hashing/tests.py
exercise-files/02_07_end/hashthat/hashing/views.py
exercise-files/02_07_end/hashthat/hashing/migrations/__init__.py
exercise-files/02_07_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/02_07_end/hashthat/hashing/templates/hashing/hash.html
exercise-files/02_07_end/hashthat/hashing/templates/hashing/home.html
exercise-files/02_07_end/hashthat/hashthat/__init__.py
exercise-files/02_07_end/hashthat/hashthat/settings.py
exercise-files/02_07_end/hashthat/hashthat/urls.py
exercise-files/02_07_end/hashthat/hashthat/wsgi.py
exercise-files/03_01_begin/func_tests.py
exercise-files/03_01_begin/hashthat/manage.py
exercise-files/03_01_begin/hashthat/hashing/__init__.py
exercise-files/03_01_begin/hashthat/hashing/admin.py
exercise-files/03_01_begin/hashthat/hashing/apps.py
exercise-files/03_01_begin/hashthat/hashing/forms.py
exercise-files/03_01_begin/hashthat/hashing/models.py
exercise-files/03_01_begin/hashthat/hashing/tests.py
exercise-files/03_01_begin/hashthat/hashing/views.py
exercise-files/03_01_begin/hashthat/hashing/migrations/__init__.py
exercise-files/03_01_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_01_begin/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_01_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/03_01_begin/hashthat/hashthat/__init__.py
exercise-files/03_01_begin/hashthat/hashthat/settings.py
exercise-files/03_01_begin/hashthat/hashthat/urls.py
exercise-files/03_01_begin/hashthat/hashthat/wsgi.py
exercise-files/03_01_end/func_tests.py
exercise-files/03_01_end/hashthat/manage.py
exercise-files/03_01_end/hashthat/hashing/__init__.py
exercise-files/03_01_end/hashthat/hashing/admin.py
exercise-files/03_01_end/hashthat/hashing/apps.py
exercise-files/03_01_end/hashthat/hashing/forms.py
exercise-files/03_01_end/hashthat/hashing/models.py
exercise-files/03_01_end/hashthat/hashing/tests.py
exercise-files/03_01_end/hashthat/hashing/views.py
exercise-files/03_01_end/hashthat/hashing/migrations/__init__.py
exercise-files/03_01_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_01_end/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_01_end/hashthat/hashing/templates/hashing/home.html
exercise-files/03_01_end/hashthat/hashthat/__init__.py
exercise-files/03_01_end/hashthat/hashthat/settings.py
exercise-files/03_01_end/hashthat/hashthat/urls.py
exercise-files/03_01_end/hashthat/hashthat/wsgi.py
exercise-files/03_02_begin/func_tests.py
exercise-files/03_02_begin/hashthat/manage.py
exercise-files/03_02_begin/hashthat/hashing/__init__.py
exercise-files/03_02_begin/hashthat/hashing/admin.py
exercise-files/03_02_begin/hashthat/hashing/apps.py
exercise-files/03_02_begin/hashthat/hashing/forms.py
exercise-files/03_02_begin/hashthat/hashing/models.py
exercise-files/03_02_begin/hashthat/hashing/tests.py
exercise-files/03_02_begin/hashthat/hashing/views.py
exercise-files/03_02_begin/hashthat/hashing/migrations/__init__.py
exercise-files/03_02_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_02_begin/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_02_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/03_02_begin/hashthat/hashthat/__init__.py
exercise-files/03_02_begin/hashthat/hashthat/settings.py
exercise-files/03_02_begin/hashthat/hashthat/urls.py
exercise-files/03_02_begin/hashthat/hashthat/wsgi.py
exercise-files/03_02_end/func_tests.py
exercise-files/03_02_end/hashthat/manage.py
exercise-files/03_02_end/hashthat/hashing/__init__.py
exercise-files/03_02_end/hashthat/hashing/admin.py
exercise-files/03_02_end/hashthat/hashing/apps.py
exercise-files/03_02_end/hashthat/hashing/forms.py
exercise-files/03_02_end/hashthat/hashing/models.py
exercise-files/03_02_end/hashthat/hashing/tests.py
exercise-files/03_02_end/hashthat/hashing/views.py
exercise-files/03_02_end/hashthat/hashing/migrations/__init__.py
exercise-files/03_02_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_02_end/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_02_end/hashthat/hashing/templates/hashing/home.html
exercise-files/03_02_end/hashthat/hashthat/__init__.py
exercise-files/03_02_end/hashthat/hashthat/settings.py
exercise-files/03_02_end/hashthat/hashthat/urls.py
exercise-files/03_02_end/hashthat/hashthat/wsgi.py
exercise-files/03_03_begin/func_tests.py
exercise-files/03_03_begin/hashthat/manage.py
exercise-files/03_03_begin/hashthat/hashing/__init__.py
exercise-files/03_03_begin/hashthat/hashing/admin.py
exercise-files/03_03_begin/hashthat/hashing/apps.py
exercise-files/03_03_begin/hashthat/hashing/forms.py
exercise-files/03_03_begin/hashthat/hashing/models.py
exercise-files/03_03_begin/hashthat/hashing/tests.py
exercise-files/03_03_begin/hashthat/hashing/views.py
exercise-files/03_03_begin/hashthat/hashing/migrations/__init__.py
exercise-files/03_03_begin/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_03_begin/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_03_begin/hashthat/hashing/templates/hashing/home.html
exercise-files/03_03_begin/hashthat/hashthat/__init__.py
exercise-files/03_03_begin/hashthat/hashthat/settings.py
exercise-files/03_03_begin/hashthat/hashthat/urls.py
exercise-files/03_03_begin/hashthat/hashthat/wsgi.py
exercise-files/03_03_end/func_tests.py
exercise-files/03_03_end/hashthat/manage.py
exercise-files/03_03_end/hashthat/hashing/__init__.py
exercise-files/03_03_end/hashthat/hashing/admin.py
exercise-files/03_03_end/hashthat/hashing/apps.py
exercise-files/03_03_end/hashthat/hashing/forms.py
exercise-files/03_03_end/hashthat/hashing/models.py
exercise-files/03_03_end/hashthat/hashing/tests.py
exercise-files/03_03_end/hashthat/hashing/views.py
exercise-files/03_03_end/hashthat/hashing/migrations/__init__.py
exercise-files/03_03_end/hashthat/hashing/migrations/0001_initial.py
exercise-files/03_03_end/hashthat/hashing/templates/hashing/hash.html
exercise-files/03_03_end/hashthat/hashing/templates/hashing/home.html
exercise-files/03_03_end/hashthat/hashthat/__init__.py
exercise-files/03_03_end/hashthat/hashthat/settings.py
exercise-files/03_03_end/hashthat/hashthat/urls.py
exercise-files/03_03_end/hashthat/hashthat/wsgi.py
videos/0. Introduction/01. Why test-driven development TDD is important.mp4
videos/0. Introduction/02. What you should know.mp4
videos/0. Introduction/03. TDD philosophy and project overview.mp4
videos/1. Functional Tests/01. Functional vs unit tests.mp4
videos/1. Functional Tests/02. Writing a test in Selenium.mp4
videos/1. Functional Tests/03. Passing your first test.mp4
videos/1. Functional Tests/04. The Django testing framework.mp4
videos/1. Functional Tests/05. Expanding your tests.mp4
videos/2. Unit Tests/01. Writing a unit test.mp4
videos/2. Unit Tests/02. Testing page data.mp4
videos/2. Unit Tests/03. Hash testing.mp4
videos/2. Unit Tests/04. Writing a test for user input.mp4
videos/2. Unit Tests/05. Saving your model.mp4
videos/2. Unit Tests/06. Testing a POST request.mp4
videos/2. Unit Tests/07. Passing the test.mp4
videos/3. Advanced Testing/01. User input with functional tests.mp4
videos/3. Advanced Testing/02. Waiting.mp4
videos/3. Advanced Testing/03. AJAX.mp4
videos/3. Advanced Testing/04. Testing and deployment.mp4
videos/3. Advanced Testing/05. TDD vs test after.mp4
videos/4. Conclusion/01. Next steps.mp4
